<div id="game-observer"
     data-elements="<%= @elements %>"
     data-cy-options="<%= @cy_options %>"
     data-beginning-id="<%= @beginning_id %>"
     data-game-session-name="<%= @game_session_name %>"
>
</div>
