<h1 id="title">Take me from</h1>
<p>Take me from one place to another</p>

<% #if true %>
  <p class="choice"><a href="/places/gameBeginning">Play</a></p>
  <p class="choice"><a href="/games/gameId">Redesign</a></p>
<% #end %>
  <p class="choice"><a href="/games">Browse</a></p>
  <p class="choice"><a href="/games/new">Create</a>
<% if current_user %>
  <p class="choice"><%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% else %>
  <p class="choice"><%= link_to "Log in", new_user_session_path %>
<% end %>
<p class="lastChoice">
  <a href="http://github.com/vysogot/takemefrom">Contribute</a>
</p>
