<p id="content"><%= @place.content %></p>

<% @place.choices.each do |choice| %>
  <p class="choice">
    <%= link_to choice["content"], game_path(@game, choice: choice["target"]) %>
  </p>
<% end %>

<p class="choice">
  <% if @place.dead_end? %>
    There is nothing you can do here.
  <% end %>

  <%= link_to 'Go back', 'javascript:history.back()' %>
</p>

<% if @game.editable?(current_user) %>
  <p id="editPlace">
    <%= link_to 'Redesign this place', edit_game_path(@game) %>
  </p>
<% end %>
