<div id="editor"
     data-elements="<%= @elements %>"
     data-beginning-id="<%= @game.beginning_id %>"
     data-cy-options="<%= @cy_options %>"
     data-touched="<%= @touched? %>"
     data-max-element-counter="<%= @game.max_element_counter %>"
     data-game-id="<%= @game.slug %>"
>
</div>
