<h1>Games</h1>

<div class="content">
<%= for game <- @games do %>
  <p class="choice">
    <%= link game.name, to: Routes.play_path(@conn, :show, game) %>
    <%= if Games.editable?(game, @current_user) do %>
      | <%= link 'Edit', to: Routes.games_path(@conn, :edit, game) %>
      | <%= link 'Destroy', to: Routes.games_path(@conn, :delete, game), method: :delete, data: [confirm: "Are you sure?"] %>
    <% end %>
  </p>
<% end %>
</div>