<p id="content">Editing Place</p>

<div class="content">
  <%= render 'form', place: @place %>
</div>

<p class="choice"><%= link_to 'Show', @place %></p>
<p class="choice"><%= link_to 'Back', places_path %></p>
