<p><%= @place.content %></p>

<ul>
  <% @place.choices.each do |choice| %>
    <li><%= link_to choice.content, place_path(choice.target) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
